<h1>SenseOfCommitment</h1>
<h3>Tweet一覧</h3>

<%= link_to "ログイン", new_user_session_path %>
<%= link_to "新規登録", new_user_registration_path %>

<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>

<h3>投稿を検索</h3>
  <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索する'  %>
<% end %>

<%= link_to "新規投稿へ", new_post_path %>
<div class="post-container">
  <% @posts.each do |t| %>
    <br>
    <div class="post">
        <%= t.title %>
        <br>
        <%= t.category %>
        <br>
        <%= t.about %>
        <br>
        <%= t.time %>
        
        <%= t.user_id %>
        
          <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
              <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                <i class="fas fa-heart"></i><%= t.likes.count %>
              <% end %>
          <% else %>
              <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                <i class="far fa-heart"></i><%= t.likes.count %>
              <% end %>
          <% end %>
          <% else %>
          <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>


          <%= t.created_at %>
          <%= link_to "詳細へ", post_path(t.id) %>
          <%= link_to "編集する", edit_post_path(t.id) %>
          <%= link_to "削除する", post_path(t.id), method: :delete %>
    </div>
  <% end %>
</div>
      