<h1>SenceOfCommitment</h1>
<h3>Tweet一覧</h3>
<%= form_for @post do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 140 %>
  </div>

  <div class="field">
    <%= f.label :about %>
    <%= f.text_field :about, :size => 140 %>
  </div>

  <%= f.submit "Tweetする" %>
<% end %>

<%= link_to "Tweet一覧に戻る", post_path %>
