<h1>SenceOfCommitment</h1>
<h3>Tweet詳細</h3>
<div class="post">
  <p><%= @post.title %></p>
  <p><%= @post.about %></p>
</div>

<% if user_signed_in? %>
<% if current_user.already_liked?(@post) %>
    <%= link_to tweet_like_path(@post), method: :delete do %>
       <p>いいねを取り消す</p><%= @post.likes.count %>
    <% end %>
<% else %>
    <%= link_to tweet_likes_path(@post), method: :post do %>
      <i class="far fa-heart"></i><%= @post.likes.count %>
    <% end %>
<% end %>
<% else %>
<i class="far fa-heart"></i><%= @post.likes.count %>
<% end %>

<%= link_to "Tweet一覧に戻る", posts_index_path %>
<%= link_to "編集する", edit_post_path(@post.id) %>